<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="styles.css">
       <title>Auth</title>
</head>
<body>
       <header class="card-header">
              <nav class="nav-bar">
                     <ul class="list">
                            <li class="list_item"><a href="/">Home</a></li>
                     </ul>
              </nav>
       </header>
       <main>
              <form action="/users/auth" method="post" class="form">
                     <div class="input-group">
                            <label for="email">Email</label>
                            <input class="input-field" type="email" name="email" id="email" placeholder="Enter your email" required>
                     </div>
                     <div class="input-group">
                            <label for="password">Password</label>
                            <input class="input-field" type="password" name="password" id="password" placeholder="Enter your password" required>
                     </div>
                     <div class="input-group btn-group">
                            <button class="btn btn-primary" type="submit">Login</button>
                            <button class="btn btn-secondary"><a href="/users">signUp</a></button>
                     </div>
              </form>
       </main>
</body>
</html>