<main>
       <section class="block">
              <header class="block_header">
                     <h2 class="block_heading">Blog-express</h2>
                     <p class="block_paragraph">welcome to My Blog used by express and node.js </p>
              </header>
              <div class="block_content">
                     <% posts %>
                     <% posts.forEach(post => { %>
                            <article class="article article-collapse">
                                   <h3 class="article_heading"><%= post.title %></h3>
                                   <div class="article-expanded article_content">
                                          <p><%= post.text %></p>
                                          
                                   </div>
                            </article>
                     <% }) %>
              </div>
       </section>
</main>